.banner{
    height: 80vh;
    border: 1px solid black ;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://picsum.photos/1800');
    background-size: cover;
    background-position: center;
}

.icon-service{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
}

.map-wrapper{
    max-width: 700px;
    border: 2px solid red;
}

.googlemap{
    width: 100%;
}

.hovered-card{
    transition: 0.3s;
}

.hovered-card:hover{
    transform: scale(1.1);
}

.rounded-right {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.rounded-left {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}