.banner{
    height: 80vh;
    /* border: 1px solid black ; */
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/bg2.png');
    background-size: cover;
    background-position: center;
}

.icon-service{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
}

.map-wrapper{
    max-width: 700px;
    border: 1px solid black;
}

.googlemap{
    width: 100%;
}

.hovered-card{
    transition: 0.3s;
}

.hovered-card:hover{
    transform: scale(1.1);
}

.rounded-right {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.rounded-left {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.button-kinda-green{
    background-color: #75c3b7;
    border: 1px solid #75c3b7;
    color: white;
}

.button-kinda-green:focus{
    background-color: #75c3b7;
    border: 1px solid #75c3b7;
    color: white;
}

.button-kinda-green:active{
    background-color: #75c3b7;
    border: 1px solid #75c3b7;
    color: white;
}

.button-kinda-green:hover{
    background-color: #5e9b92;
    border: 1px solid #5e9b92;
    color: whitesmoke;
}

.bg-kinda-black{
    background-color: #283e44;
}

.bg-pink{
    /* background-color: #e7c6b9; */
    background-color: #e7cabe;
}

/* pagination */
.active-page{
    background-color: #75c3b7;
    border: 1px solid #75c3b7;
    color: #283e44;
}

.active-page:hover{
    background-color: #5e9b92;
    border: 1px solid #5e9b92;
    color: whitesmoke;
}
.active-page:focus{
    background-color: #75c3b7;
    border: 1px solid #75c3b7;
    color: #283e44;
}

.active-page:active{
    background-color: #75c3b7;
    border: 1px solid #75c3b7;
    color: #283e44;
}

.page-link{
    color: #283e44;
}

.page-link:hover{
    color: #283e44;
}