.banner{
    height: 80vh;
    /* border: 1px solid black ; */
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://picsum.photos/1800');
    background-size: cover;
    background-position: center;
}